Package: siakhooi-image-runner
Version: 1.8.3
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: bash, coreutils, man-db, sed
Architecture: amd64
Homepage: <https://github.com/siakhooi/image-runner>
Description: Programs to run container images for dev/testing purposes.
